<% layout("./layouts/boilerplate.ejs") -%>
    <!-- the above line help krta hai lesser code likhne me  -->

    <div class="row mt-3">
        <div class="alert alert-danger col-5 offset-4 message-box" role="alert" >
            <p> <%= message %> </p>
        </div>
        <div class="cartoon col-5 offset-1">
            <img style="width: 35rem;" src="<%= imgPath %>" alt="Cartoon Error" />

        </div>

    </div>