<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="mailto:singhyashwant439@gmail.com" class="text-decoration-none text-dark" target="_blank" rel="noopener noreferrer">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="https://github.com/Yashwant439?tab=repositories" class="text-decoration-none text-dark" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/yashwantkumarsingh" class="text-decoration-none text-dark" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
    <div class="f-info-brand">&copy; WanderLust Private Limited</div>
    <div class="f-info-links">
      <a href="/listings/privacy">Privacy</a>
      <a href="/listings/terms">Terms</a>
    </div>
  </div>
</footer>